* {
    margin: 0;
    padding: 0;
}

.cabecera {
    background-image: url("./img/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    height: 30em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

header img {
    width: 10%;
    margin-left: 3em;
}

header button {
    border: 0;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    background-color: white;
    margin-right: 2em;
    box-shadow: 2px 2px 20px lightgray;
}

main {
    display: flex;
}

main .main__wrapper {
    margin: 1em 3em;
}

main h1, p {
    padding: .5em 0;
}

.start-button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 20px;
    border: 0;
    width: 220px;
    height: 40px;
    margin: 1em 0;
    box-shadow: 1px 1px 5px 1px lightpink;
}

main img {
    height: 340px;
    margin-right: 3em;
}

section {
    padding: 3em 2em;
}

section article {
    box-shadow: 1px 1px 6px lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 25px 50px;
    padding: 1em;
}

section .article__wrapper {
    margin: 1em 2em;
}

.article__wrapper p {
    color: gray;
}

section img {
    height: 180px;
    margin-right: 2em;
}

.ready {
    display: flex;
    justify-content: center;
}

.ready div {
    background-color: white;
    width: 500px;
    height: 160px;
    position: relative;
    top: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: -1px 1px 5px lightgray;
}

.ready h2 {
    margin-top: 40px;
}

footer {
    background-color: hsl(192, 100%, 9%);
    padding: 6em;
    display: flex;
    justify-content: space-between;
    color: hsl(208, 11%, 55%);
}

footer div {
    display: flex;
    flex-direction: column;
    width: auto;
}

footer div img {
    width: 250px;
    padding: 20px;
}

.footer-location {
    display: flex;
    justify-content: space-between;
}

.footer-location img {
    width: 1em;
}

.logo-blanco {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(128deg) brightness(111%) contrast(101%);
}

.redes-sociales img {
    width: 20px;
}